<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Assistant</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body class="bg-gray-200 relative min-h-screen pb-32">
  {% include 'header.html' %}
  <main id="main">
    <div id="chat_messages" class="ml-2 mr-2 mt-3 mb-2 md:ml-16 md:mr-16 md:mt-6 overflow-auto flex flex-col">

    </div>
    {% if config.messages | length == 0 %}
    <div id="prompts"
      class="ml-2 mr-2 mt-3 mb-2 md:ml-16 md:mr-16 md:mt-6 overflow-auto flex flex-row justify-center gap-4">
      <div
        class="prompt relative h-12 w-64 flex items-center justify-center bg-indigo-500 hover:bg-indigo-700 text-white rounded-xl cursor-pointer">
        Wer war Ada Lovelace?
      </div>


      <div
        class="group relative prompt h-12 w-64 flex items-center justify-center bg-indigo-500 hover:bg-indigo-700 text-white rounded-xl cursor-pointer">
        Schreibe eine index.html


      </div>

    </div>
    {% endif %}

  </main>

  <!-- Bot Message Template -->
  <template id="bot-message-template">
    {% include 'bot_message_template.html' %}
  </template>

  <!-- User Message Template -->
  <template id="user-message-template">
    {% include 'user_message_template.html' %}
  </template>

  <template id="code_template">
    {% include 'code_block_template.html' %}
  </template>


  {% include 'chat_ui.html' %}

  <script>
    var systemMessage = "{{ config.system_message }}";
    var welcomeMessage = "{{ config.welcome_message }}";
    var username = "{{ config.username }}";
    var chat_started = "{{ config.chat_started }}";
    var messages = {{ config.messages | tojson | safe }};
    var models = {{ config.models | tojson | safe}};

    var selected_model = models[0]['model'];

    // Überprüfe, ob ein Eintrag mit dem Schlüssel vorhanden ist
    if (localStorage.getItem('selected_model') !== null) {
      selected_model = localStorage.getItem('selected_model');
      console.log('model_in_storage:' + selected_model)
    }

    var selectedModelElement = document.getElementById('selected_model');
    selectedModelElement.innerText = selected_model;


    console.log(messages);
    console.log(models);

    document.addEventListener('click', function (e) {

      if (e.target.closest('#prompts .prompt')) {

        // Fill the textarea with the text content of the clicked element
        var chatInput = document.getElementById('chat_input');
        if (chatInput) {
          chatInput.value = e.target.textContent; // Set the value of the textarea
        }

        // Programmatically click the button with id 'chat_button'
        var chatButton = document.getElementById('chat_button');
        if (chatButton) {
          chatButton.click();
        }

        // Optionally, remove the div with the id 'prompts' after the actions are performed
        var promptsDiv = document.getElementById('prompts');
        if (promptsDiv) {
          promptsDiv.remove();
        }
      }

      if (event.target.classList.contains('model')) {
        selected_model = event.target.id;
        localStorage.setItem('selected_model', selected_model);
        selectedModelElement.innerText = selected_model;
        const modelSelector = FlowbiteInstances.getInstance('Dropdown', 'modelSelector');
        modelSelector.hide();
      }


    });

    function loadElements(url)
    {
      fetch(url)
        .then(response => response.text())
        .then(data => {
          document.getElementById('main').innerHTML = data;

          // var chatHistoryBin = document.querySelector('.chat_history_bin');

          // // Füge einen Klick-Eventlistener hinzu
          // chatHistoryBin.addEventListener('click', function () {
          //   // Rufe die API-Endpunkt auf
          //   let url = "{{url_for('delete_history')}}"
          //   fetch(url)
          //     .then(response => response.json())
          //     .then(data => {
          //       // Gib die Antwort in der Konsole aus
          //       console.log(data);
          //       window.location.href = "{{url_for('index')}}";
          //     })
          //     .catch(error => {
          //       console.error('Fehler beim Aufruf der API:', error);
          //     });
          // });


        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
    }

    function hideElements() {
      let prompts_ui = document.getElementById('prompts');
      if (prompts_ui) {
        prompts_ui.classList.add('hidden');
      }

      let chat_messages_ui = document.getElementById('chat_messages');
      if (chat_messages_ui) {
        chat_messages_ui.classList.add('hidden');
      }

      let chat_ui = document.getElementById('chat_ui');
      if (chat_ui) {
        chat_ui.classList.add('hidden');
      }
    }

    document.getElementById('showPrompts').addEventListener('click', function (e) {
      let url = "{{url_for('show_prompts')}}"
      hideElements()
      loadElements(url);

    });


    document.getElementById('showHistory').addEventListener('click', function (e) {
      let url = "{{url_for('list_chat_history_endpoint')}}"
      hideElements();
      loadElements(url);

    });

  </script>


  <script src="{{ url_for('static', filename='chat.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/flowbite.js') }}"></script>

</body>

</html>