{% if config.messages | length == 0 %}
<div id="prompts"
  class="ml-2 mr-2 mt-3 mb-2 md:ml-16 md:mr-16 md:mt-6 overflow-auto flex flex-row justify-center gap-4">
  <div
    class="prompt relative h-12 w-64 flex items-center justify-center bg-indigo-500 hover:bg-indigo-700 text-white rounded-xl cursor-pointer">
    Wer war Ada Lovelace?
  </div>


  <div
    class="group relative prompt h-12 w-64 flex items-center justify-center bg-indigo-500 hover:bg-indigo-700 text-white rounded-xl cursor-pointer">
    Schreibe eine index.html


  </div>

</div>
{% endif %}
