<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Assistant</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body class="bg-gray-200 relative min-h-screen pb-32">
  {% include 'header.html' %}
  <div id="chat_messages" class="h-[38rem] ml-16 mr-16 mt-10 mb-12 overflow-auto flex flex-col">
  </div>
  
  <!-- Bot Message Template -->
  <template id="bot-message-template">
   {% include 'bot_message_template.html' %}
  </template>

  <!-- User Message Template -->
  <template id="user-message-template">
    {% include 'user_message_template.html' %}
  </template>

  <template id="code_template">
    {% include 'code_block_template.html' %}
  </template>


  {% include 'chat_ui.html' %}

  <script>
    var systemMessage = "{{ config.system_message }}";
    var welcomeMessage = "{{ config.welcome_message }}";
    var username = "{{ config.username }}";
    var chat_started = "{{ config.chat_started }}";
    var messages = {{ config.messages | tojson | safe }};

    console.log(messages);

</script>
  
  <script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>

</html>