<div id="show_prompts_ui">
  <div class="mx-auto mt-8 px-16 mb-2">
    <div class="flex flex-row items-center gap-2">
      <h2 class="text-2xl font-bold">Prompts</h2>
      <div id="deleteAllPrompts">
        <svg class="prompt_bin w-6 h-6 hover:text-red-700 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </div>
      
    </div>
  </div>
  
  <div class="px-16">
    <table class="min-w-full bg-white rounded-xl overflow-hidden">
      <thead class="text-gray-600 uppercase text-sm leading-normal">
        <tr>
          <th class="py-3 px-6 text-left">Name</th>
          <th class="py-3 px-6 text-left">System-Message</th>
          <th class="py-3 px-6 text-left">Prompt</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        {% for prompt in prompts %}
        <tr>
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <button id="{{prompt.id}}" class="selected_prompt relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
              <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                {{ prompt.name }}
              </span>
              </button>
           
          </td>
          <td class="py-3 px-6 text-left">{{ prompt.system_message }}</td>
          <td class="py-3 px-6 text-left">{{ prompt.prompt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
