<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<html class="h-full">
  <body class="flex min-h-full flex-col">
    <header class="bg-slate-400 text-white p-3 text-lg flex flex-row justify-between">
      <div>Logo</div>
      <div>
        <ul class="flex flex-row gap-3">
          <li>Prompts</li>
          <li>Settings</li>
        </ul>
      </div>
    </header>
    <main class="grow flex flex-col items-center justify-center">
      <div class="text-6xl">Welcome</div>
      <div class="text-sm">was kann ich für dich tun?</div>
    </main>
    <footer class="bg-slate-400 text-white p-3 text-lg">Footer</footer>
  </body>
</html>
</html>
